.allForms-container{
  .allForms{
    .content{
      .title-container{
        .delete{
          color: aliceblue;
          font-size: 1rem;
          background-color: red;
          
        }
      }
    }
    
  }

}
  